.pfinal-container {

  width: 100%;
  flex-direction: column;
  justify-content: center; /* Centra verticalmente los elementos */
  align-items: flex-start; /* Alinea los elementos a la izquierda */
}

.video-and-game {
  display: flex;
}

.video-container {
  width: 70%; /* Reducido el ancho del video */
  /* margin-top: -9%; */
  margin-right: 20px; /* Ajusta el margen derecho para dejar más espacio */
}

.game-container {
  margin-left: 20px; /* Ajusta el margen izquierdo para dejar más espacio */
}

.game-selector {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 20px; /* Ajustado el margen top */
  margin-right: 130px;
}

.board-row {
  display: flex;
}

.square {
  background: #fff;
  color: black;
  border: 1px solid #999;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  height: 50px;
  width: 50px;
  margin-right: -1px;
  /* margin-top: -1px; */
  padding: 0;
  text-align: center;
}

.reset-button {
  margin-top: 20px;
  margin-left: 10px; /* Ajustado el margen izquierdo */
  padding: 10px 20px;
  font-size: 16px;
  background-color: #48C9B0;
  color: white;
  border: none;
  cursor: pointer;
}

.hangman-container {
  max-height: 250px; /* Tamaño fijo para el contenedor del ahorcado */
}

.hangman {
  max-width: 300px;
  text-align: center;
  margin-right: auto;
}

.alphabet {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.letter-button {
  font-size: 16px;
  margin: 5px;
  padding: 5px 15px;
  background-color: #48C9B0;
  color: white;
  border: none;
  cursor: pointer;
  width: 30px; /* Ancho aumentado para cada letra */
}

.letter {
  font-size: 20px;
  margin: 0 5px;
  color: white;
}

.status {
  font-size: 20px;
  margin-bottom: 10px;
  color: white;
}

.ter{
  margin-top: 50%;
}

.p_pfinal{
  color: white;
}