.Pprincipal_div {
  
  max-height: 625px;
  padding: 20px;
  border-radius: 8px;
  margin-bottom: -100px;
}

h2 {
  color: #48C9B0;
  margin-top: 10px;
  margin-bottom: 20px;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

li {
  position: relative;
  display: inline-block;
  width: 18%;
  margin: 1%;
  box-sizing: border-box;
  text-align: center;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s ease-in-out;
}

li:hover {
  transform: scale(1.05);
}

li img {
  width: 100%;
  height: auto;
  border-radius: 8px 8px 0 0;
}

.overlay_principal {
  position: absolute;
  bottom: 0; /* Ajuste para que la descripción esté en la parte inferior */
  left: 0;
  width: 100%;
  padding: 10px; /* Añadimos un poco de padding para separar el texto del borde */
  box-sizing: border-box; /* Para que el padding no afecte al ancho total */
  opacity: 0;
  background: rgba(0, 0, 0, 0.7);
  border-radius: 0 0 8px 8px; /* Curvamos solo los bordes inferiores */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  transition: opacity 0.3s ease-in-out;
}

.overlay_principal p {
  margin: 5px 0; /* Ajustamos el margen para el texto */
  text-align: center;
}

li:hover .overlay_principal {
  opacity: 1;
}

.overlay p {
  margin: 10px;
  text-align: center;
}

/* Agrega un salto de línea después de cada quinta película */
li:nth-child(5n) {
  clear: both;
}

::-webkit-scrollbar {
  width: 10px; /* Ancho de la barra de desplazamiento */
  background-color: rgba(0, 0, 0, 0.1); /* Color de fondo de la barra */
}

::-webkit-scrollbar-thumb {
  background-color: #48C9B0; /* Color del thumb de la barra */
  border-radius: 5px; /* Borde redondeado */
}

::-webkit-scrollbar-thumb:hover {
  background-color: #48C9B0; /* Color del thumb cuando se pasa el cursor */
}

::-webkit-scrollbar-track {
  background-color: rgba(0, 0, 0, 0.1); /* Color de fondo de la pista */
}

::-webkit-scrollbar-corner {
  background-color: transparent; /* Color de la esquina */
}