.upago_container {
  max-width: 800px; /* Se ha ensanchado el contenedor */
  padding: 50px; 
  background-color: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border-radius: 8px;
  margin: 0 auto;
}

.upago_container h1 {
  text-align: center;
}

.upago_section {
  margin-bottom: 20px;
}

.upago_section h2 {
  margin-bottom: 10px;
}

.upago_section label {
  display: block;
  margin-bottom: 10px;
}

.upago_payment input[type="radio"] {
  margin-right: 5px;
}

.upago_user input[type="text"],
.upago_profile input[type="file"] {
  width: calc(100% - 16px);
  padding: 8px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.upago_submit button {
  background-color: #4caf50;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  display: block;
  margin: 0 auto;
}

.upago_submit button:hover {
  background-color: #45a049;
}

.upago_link {
  text-align: center;
}

.upago_link a {
  color: #4caf50;
  text-decoration: none;
}

.upago_link a:hover {
  text-decoration: underline;
}
